<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu deroulant JSON</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-sm-4">

      <h1>Menu deroulant</h1>

        <div class="container d-flex flex-column align-items-center justify-content-center">
          <select class="form-control" id="users"style="
          margin-top: 60px;
          margin-bottom: 30px;">

            <%for(d of data){%>

              <option value="<%=d.id%>"><%=d.nom%> <%d.prenom%></option>

            <%}%>

          </select>

        </div>

  


   

      <!-- Card qui affiche les info -->

      <div id="infos" class="card text-black bg-primary mb-3" style="width: 18rem;">
        <div class="card-header">
          <span id="id"></span>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span id="nom"></span> <span id="prenom"></span></li>
          <li class="list-group-item"><span id="age"></span></li>
          <li class="list-group-item"><span id="profession"></span></li>
          <li class="list-group-item"><span id="adresse"></span></li>
          <li class="list-group-item"><span id="tel"></span></li>



        </ul>
      </div>

      </div>
  </div> 
</div>
  
<%- include('partials/fuctionajax.ejs') %>
    
</body>

</html>